<!-- Content -->
<div id="content">

    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <div class="bg-image"><img src="assets/img/photos/coaching_bg02.jpg" alt=""></div>
        <div class="container-fluid container-custom">
            <h1>My Mission & Vision Statement</h1>
            <p class="lead text-muted">Life is meaningful when we have a mission, a purpose, otherwise we are just animals</p>
        </div>
    </div>
    
    <!-- Section / About -->
    <section id="about" class="section">

        <div class="container container-sm">

            <!-- BG Side -->
            <div class="bg-side bg-left">
                <img src="assets/img/items/glasses.png" alt="">
                <img src="assets/img/items/coffee.png" alt="">
            </div>
            
            <!-- BG Side -->
            <div class="bg-side bg-right">
                <img src="assets/img/items/camera.png" alt="">
            </div>

            <h4>Who we are?</h4>
            <p class="lead">Aliquam laoreet maximus tellus vitae mollis. Morbi quis dolor dignissim, pellentesque eros sit amet, dictum velit.</p>
            <p>Vivamus molestie sit amet lectus non commodo. Praesent in dignissim lectus, eu suscipit diam. Donec vitae turpis dictum, eleifend ipsum sed, tincidunt justo.</p>
            <div class="blockquotes">
                <!-- Blockquote -->
                <blockquote class="blockquote animated" data-animation="fadeInLeft">
                    <p>It was the best coach I’ve ever had!</p>
                    <footer>
                        <img src="assets/img/avatars/avatar01.jpg" alt="">
                        <span class="name">Mark Johnson<span class="text-muted">, Google</span></span>
                    </footer>
                </blockquote>
                <!-- Blockquote -->
                <blockquote class="blockquote blockquote-primary animated" data-animation="fadeInRight" data-animation-delay="300">
                    <p>He is the man!</p>
                    <footer>
                        <img src="assets/img/avatars/avatar03.jpg" alt="">
                        <span class="name">Kate Hudson<span class="text-muted">, LinkedIn</span></span>
                    </footer>
                </blockquote>
            </div>

            <h4 class="mt-60">My Skills</h4>
            <!-- Progress -->
            <div class="progress-wrapper">
                <progress class="progress mb-5" value="90" max="100"></progress>
                <span class="value"></span>
                <strong class="text-sm">Motivation</strong>
            </div> 
            <!-- Progress -->
            <div class="progress-wrapper">
                <progress class="progress mb-5" value="80" max="100"></progress>
                <span class="value"></span>
                <strong class="text-sm">Coaching</strong>
            </div> 
            <!-- Progress -->
            <div class="progress-wrapper">
                <progress class="progress mb-5" value="75" max="100"></progress>
                <span class="value"></span>
                <strong class="text-sm">Business Advising</strong>
            </div> 

        </div>

    </section>

</div>
<!-- Content / End -->