<!-- Content -->
<div id="content">

    <!-- Page Title -->
    <div class="page-title bg-dark dark text-xs-center">
        <div class="bg-image"><img src="assets/img/photos/coaching_bg01.jpg" alt=""></div>
        <div class="container-fluid container-custom">
            <h1>My Research & Developments</h1>
            <p class="lead text-muted">How can we help you?</p>
        </div>
    </div>
    
    <!-- Section / Services -->
    <section id="services" class="section text-xs-center">

        <div class="container-fluid container-custom">
            <h3 class="mb-0">Research Inititives</h3>
            <p class="lead text-muted">What we can do for you?</p>
            <div class="row">
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn">
                        <span class="icon icon-primary icon-lg"><i class="li-setting3"></i></span>
                        <h4 class="mb-0">Social Governance</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-feedback3"></i></span>
                        <h4 class="mb-0">Personal Productivity Tool</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div>
            </div>
            <hr class="hidden-xs-down">
            <div class="row">
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn">
                        <span class="icon icon-primary icon-lg"><i class="li-diagram2"></i></span>
                        <h4 class="mb-0">Social Governance</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">ServiceNow</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Education</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Ironmans suite</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Polution Control & Preservation of nature & wildlife</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Renewel Energy Production</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">cyborg - Robocompanion</h4>
                        <span class="text-muted">Working on you motivation skills</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">AI Implant</h4>
                        <span class="text-muted">chimp embedeed human to enhance imagination, memory, decision making, knowledge, fact check</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Necromancy</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">xray vision</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Hulk</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div><div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Time Travel</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Telepathy</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Teleportaion</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Psychokinesis</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">mind control of objects or stuff and Mind Reading</h4>
                        <span class="text-muted">Communicating with dead</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Feature -->
                    <div class="feature feature-1 animated" data-animation="fadeIn" data-animation-delay="300">
                        <span class="icon icon-primary icon-lg"><i class="li-bag"></i></span>
                        <h4 class="mb-0">Peace & Wisdom</h4>
                        <span class="text-muted">Chaos & Indiscipline, Sanity & Peace of mind, Digital Age Guidance, Genuine Wisdom of Veda</span>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Section / Portfolio -->
    <section id="portfolio" class="section">

        <div class="container-fluid container-custom">
            <!-- Filter -->
            <nav class="mb-40">
                <ul class="nav nav-pills filter-isotope mb-50 text-center" data-filter-list="#works-list">
                    <li class="nav-item active"><a href="#" class="nav-link" data-filter="*"><i class="pe-7s-folder"></i>All</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" data-filter=".filter-one"><i class="pe-7s-graph1"></i>Design</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" data-filter=".filter-two"><i class="pe-7s-comment"></i>Development</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" data-filter=".filter-three"><i class="pe-7s-like"></i>Other</a></li>
                </ul>         
            </nav>
            <!-- Works List -->
            <div id="works-list" class="row masonry">
                <div class="masonry-sizer col-lg-4 col-sm-6 col-xs-12"></div>
                <div class="masonry-item filter-one col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project01.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Runner motivation</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-two col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project02.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Relax your mind</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-one col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project03.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Work effective</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-three col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project04.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Make your business</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-one col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project05.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">We found passion</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-two col-lg-4 col-sm-6 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal"><img src="assets/img/projects/project06.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="portfolio-project-1.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">No fear</h5>
                                <p class="text-sm text-muted mb-0">Mental Coaching</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</div>
<!-- Content / End -->