<div id="content">
    <!-- Section / Home -->
    <section id="home" class="section bg-dark cover text-xs-center dark">

        <div class="carousel inner-controls slider" data-slick='{
            "slidesToShow": 1, 
            "slidesToScroll": 1,
            "fade": true,
            "speed": 1000,
            "autoplay": true,
            "autoplaySpeed": 5000,
            "infinite": true,
            "pauseOnHover: false"
            }'>
            <!-- Slide -->
            <div class="slide section fullheight">
                <div class="bg-image zooming"><img src="assets/img/photos/coaching_bg01.jpg" alt=""></div>
                <div class="v-center container-fluid container-custom">
                    <div class="row">
                        <div class="col-md-6 push-md-3">
                            <h1 class="display-3 special_text">Train yourself with Us!</h1>
                            <p class="lead text-muted">Aenean gravida eget arcu in luctus. Sed enim metus.</p>
                            <div class="btn-group" data-local-scroll>
                                <a href="about.html" class="btn btn-primary btn-lg">My Vision & Mission</a>
                                <a href="services.html" class="btn btn-secondary btn-lg">What I do</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide section fullheight">
                <div class="bg-image zooming"><img src="assets/img/photos/coaching_bg02.jpg" alt=""></div>
                <div class="v-center container-fluid container-custom">
                    <div class="row">
                        <div class="col-md-6 push-md-3">
                            <h2 class="display-3">Motivation Courses</h2>
                            <p class="lead text-muted">Aenean gravida eget arcu in luctus. Sed enim metus.</p>
                            <div class="btn-group" data-local-scroll>
                                <a href="JavaScript:Void(0);" class="about" class="btn btn-primary btn-lg">My Vision & Mission</a>
                                <a href="services.html" class="btn btn-secondary btn-lg">What I do</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
            <div class="slide section fullheight">
                <div class="bg-image zooming"><img src="assets/img/photos/coaching_bg03.jpg" alt=""></div>
                <div class="v-center container-fluid container-custom">
                    <div class="row">
                        <div class="col-md-6 push-md-3">
                            <h2 class="display-3">Mental Coaching</h2>
                            <p class="lead text-muted">Aenean gravida eget arcu in luctus. Sed enim metus.</p>
                            <div class="btn-group" data-local-scroll>
                                <a href="about.html" class="btn btn-primary btn-lg">My Vision & Mission</a>
                                <a href="services.html" class="btn btn-secondary btn-lg">What I do</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>