<!-- Header -->
<header id="header">

    <!-- Logo -->
    <a href="index.html" class="logo">
        <img src="assets/img/logo-dark.svg" alt="">
    </a>

    <!-- Navigation -->
    <nav id="main-menu">
        <div class="nav-wrapper">
            <ul class="nav nav-primary">
                <li><a href="JavaScript:Void(0);" class="start active"><i class="li-home"></i>Start</a></li>
                <li><a href="JavaScript:Void(0);" class="about"><i class="li-feedback"></i>Mission</a></li>
                <li><a href="JavaScript:Void(0);" class="health"><i class="li-laptop"></i>Health</a></li>
                <li><a href="JavaScript:Void(0);" class="learning"><i class="li-laptop"></i>Learning</a></li>
                <li><a href="JavaScript:Void(0);" class="passionwork"><i class="li-laptop"></i>Work(Research & Passion)</a></li>
                <li><a href="JavaScript:Void(0);" class="occupation"><i class="li-imac"></i>Occupation</a></li>
                <li><a href="JavaScript:Void(0);" class="sidehustle"><i class="li-laptop"></i>Hustle</a></li>
                <li><a href="JavaScript:Void(0);" class="socialwork"><i class="li-laptop"></i>Social Work</a></li>
                <li><a href="JavaScript:Void(0);" class="goals"><i class="li-laptop"></i>Goals</a></li>
                <li><a href="JavaScript:Void(0);" class="dreams"><i class="li-laptop"></i>Dreams</a></li>
                <li><a href="JavaScript:Void(0);" class="hobbies"><i class="li-laptop"></i>Hobbies & Interests</a></li>
                <li><a href="JavaScript:Void(0);" class="travel"><i class="li-pen"></i>Travel+Adventure</a></li>
                <li><a href="JavaScript:Void(0);" class="books"><i class="li-laptop"></i>Books</a></li>
                <li><a href="JavaScript:Void(0);" class="list"><i class="li-laptop"></i>List</a></li>
                <li><a href="JavaScript:Void(0);" class="contact"><i class="li-email"></i>Contact</a></li>
                <li class="has-children">
                    <a href="#"><i class="li-heart"></i>Extra</a>
                    <ul>
                        </li>
                        <li class="has-children">
                            <a href="#">Blog</a>
                            <ul>
                                <li><a href="#" class="go-back"><i class="ti-angle-left"></i>Extra</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                <li><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>
                                <li><a href="blog-post-sidebar-left.html">Blog Post Sidebar Left</a></li>
                                <li><a href="blog-post-sidebar-right.html">Blog Post Sidebar Right</a></li>
                            </ul>
                        </li>
                        <li><a href="widgets.html">Widgets</a></li>
                        <li><a href="documentation.html" target="_blank">Documentation</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <span class="selector"></span>
    </nav>

</header>
<!-- Header / End -->