<!-- Header -->
<header id="header">

    <!-- Logo -->
    <a href="index.html" class="logo">
        <img src="assets/img/logo-dark.svg" alt="">
    </a>

    <!-- Navigation -->
    <nav id="main-menu">
        <div class="nav-wrapper">
            <ul class="nav nav-primary">
                <li><a href="JavaScript:Void(0);" class="start active"><i class="li-home"></i>Start</a></li>
                <li><a href="JavaScript:Void(0);" class="about"><i class="li-feedback"></i>Mission</a></li>
                <li><a href="JavaScript:Void(0);" class="learning"><i class="li-laptop"></i>Learning</a></li>
                <li><a href="JavaScript:Void(0);" class="passionwork"><i class="li-laptop"></i>Research & Development</a></li>
                <li><a href="JavaScript:Void(0);" class="occupation"><i class="li-imac"></i>Occupation</a></li>
                <li><a href="JavaScript:Void(0);" class="socialwork"><i class="li-laptop"></i>Social Work</a></li>
            </ul>
        </div>
        <span class="selector"></span>
    </nav>

</header>
<!-- Header / End -->