<!-- Content -->
<div id="content">

    <!-- Page Title -->
    <div class="page-title bg-dark dark text-xs-center">
        <div class="bg-image"><img src="assets/img/photos/coaching_bg01.jpg" alt=""></div>
        <div class="container-fluid container-custom">
            <h1>My Full Time Job</h1>
            <p class="lead text-muted">How can I help you?</p>
        </div>
    </div>

    <!-- Section / Portfolio -->
    <section id="portfolio" class="section">

        <div class="container-fluid container-custom">
            <!-- Works List -->
            <div id="works-list" class="row masonry">
                <div class="masonry-sizer col-sm-4 col-xs-12"></div>
                <div class="masonry-item filter-one col-md-4 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover">
                        <div class="image">
                            <a href="chief_engineer/index.html" target="_blank"><img src="assets/img/projects/project01.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="chief_engineer/index.html" target="_blank">
                                <h5 class="mb-0">Software Engineer</h5>
                                <p class="text-sm text-muted mb-0">building & engineering is my passion</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-two col-md-4 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover"> 
                        <div class="image">
                            <a href="data/project_detail_2.html" data-toggle="ajax-modal"><img src="assets/img/projects/project02.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="data/project_detail_2.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Private Investigator</h5>
                                <p class="text-sm text-muted mb-0">Don't believe what you see, sometimes sight gets betrayed</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="masonry-item filter-two col-md-4 col-xs-12">
                    <!-- Image Box -->
                    <div class="image-box image-hover"> 
                        <div class="image">
                            <a href="data/project_detail_2.html" data-toggle="ajax-modal"><img src="assets/img/projects/project02.jpg" alt=""></a>
                        </div>
                        <div class="title text-xs-center">
                            <a href="data/project_detail_2.html" data-toggle="ajax-modal">
                                <h5 class="mb-0">Teacher</h5>
                                <p class="text-sm text-muted mb-0">Don't believe what you see, sometimes sight gets betrayed</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

</div>
<!-- Content / End -->

<script type="text/javascript">
    
</script>